use_llm: qwen3
use_local: false

deepseek:
  local:
    url: http://192.168.121.1:11434/v1  # url for deepseek-r1 deployed by Ollama, change as needed
    model: deepseek-r1:1.5b 
    key: ollama  # placeholder key for Ollama, not used in local mode

  remote:
    url: https://api.deepseek.com
    model: deepseek-reasoner
    key: your_api_key_here

qwen3:
  local: 
    url: http://192.168.121.1:11434/v1
    model: qwen3:0.6b
    key: ollama
  remote:
    url: https://dashscope-intl.aliyuncs.com/compatible-mode/v1
    model: qwen-plus
    key: 

gpt:
  remote:
    url: 
    model: 
    key: 